:root {
    color-scheme: dark;
}

body {
    margin: 0;
    padding: 1rem;
    width: 25rem;
    background: #000;
    color: #fff;
    border: 1px solid #777;
}

.card-hover {
    transition: box-shadow 250ms ease-in-out;
}

.card-hover:hover {
    box-shadow: 0 0 0.75rem var(--bs-primary);
}
