:root {
    color-scheme: dark;
}

body {
    padding: 1rem;
    width: 25rem;
}

.card-hover {
    transition: box-shadow 250ms ease-in-out;
}

.card-hover:hover {
    box-shadow: 0 0 0.75rem var(--bs-primary);
}
